<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  All help you may need, you can resive here from great admins in real 
  <a href="https://vk.com/alpha155">airsoft group</a>.
  <%= link_to image_tag("help.jpg") %>
  
</p>