<% provide(:title, 'Home') %>
  <div class="center hero-unit">
    <h1>Welcome to the Airsoft is your life web-site</h1>

    <h2>
 Airsoft is a sport in which participants eliminate opponents by hitting 
 each other with spherical non-metallic pellets launched via replica firearms 
 called airsoft guns.
    </h2>


  </div>

<div class="left hero-unit">
 <%= link_to "Light side!", light_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<div class = "Rigth hero-unit">
 <%= link_to "Dark side!", dark_path,
                                class: "btn btn-large btn-primary" %>
  </div>