<% provide(:title, 'Light') %>
  <div class="center hero-unit">
    <h1>Welcome to the Airsoft Light Side (ALS)</h1>

    <h2>
Here is the way you must be equiped
 <%= link_to image_tag("LSGEar.jpeg") %>
    </h2>


  </div>

